<mat-nav-list>
    <div class="profile-card" fxShow fxHide.gt-sm="true">
        <div class="header">
            <div><img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="ewrweew"><br></div>            
      </div>
    </div>

    <mat-divider fxShow fxHide.gt-sm="true"></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>home</mat-icon>Home</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"><mat-icon>mail_outline</mat-icon>Messages</a>        
    <!--<h2 matSubheader></h2>-->
</mat-nav-list>

<!-- <mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav fxLayout="column" mode="side" opened="false">
    <div fxLayout="column">
      <a href="#" mat-button>Menu Item 1</a>
      <a href="#" mat-button>Menu Item 2</a>
      <a href="#" mat-button>Menu Item 3</a>
      <a href="#" mat-button>Menu Item 4</a>
      <a href="#" mat-button>Menu Item 5</a>
      <a href="#" mat-button>Menu Item 6</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill> Main content</mat-sidenav-content>
</mat-sidenav-container> -->
