<div>
  <button mat-raised-button color="accent" (click)="exportToExcel()">Export</button>
  <mat-form-field appearance="fill">
    <mat-label>Select Page:</mat-label>
    <input matInput type="number" min="1" [max]="rows?.length" [(ngModel)]="goToPage">
  </mat-form-field>
  <ngx-datatable class="material"
                 [rows]="rows"
                 [columns]="columns"
                 [headerHeight]="50"
                 [footerHeight]="50"
                 [offset]="(goToPage !== undefined) ? (goToPage -1) : 0"
                 [limit]="2"
                 columnMode="force"
                 selectionType="single"
                 (select)="onSelectProduct($event)"
                 rowHeight="auto"
                 #myTable>
    <!-- Row Detail Template -->
    <ngx-datatable-row-detail [rowHeight]="getHeight" #myDetailRow>
      <ng-template let-row="row" ngx-datatable-row-detail-template>
        <ngx-datatable class="material"
                       [rows]="row.prices"
                       [columns]="internalColumns"
                       [headerHeight]="50"
                       [footerHeight]="50"
                       columnMode="force"
                       rowHeight="auto">
          <ngx-datatable-column name="Vendor">
            <ng-template let-innerrow="row" let-value="value" ngx-datatable-cell-template>
              <ng-container *ngIf="innerrow.editing">
                <mat-form-field appearance="fill">
                  <mat-select [(ngModel)]="innerrow.vendor">
                    <mat-option *ngFor="let option of vendorOptions" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
              <ng-container *ngIf="!innerrow.editing">
                {{value}}
              </ng-container>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Price">
            <ng-template let-innerrow="row" let-value="value" ngx-datatable-cell-template>
              <ng-container *ngIf="innerrow.editing">
                <mat-form-field class="example-full-width" appearance="fill">
                  <input type="number" matInput [(ngModel)]="innerrow.price">
                </mat-form-field>
              </ng-container>
              <ng-container *ngIf="!innerrow.editing">
                {{value}}
              </ng-container>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Edit">
            <ng-template let-innerrow="row" ngx-datatable-cell-template>
              <ng-container *ngIf="!innerrow.editing">
                <button mat-raised-button color="accent" (click)="onEdit(innerrow)">Edit</button>
              </ng-container>
              <ng-container *ngIf="innerrow.editing">
                <button mat-raised-button color="accent" (click)="onEdit(innerrow)">Save</button>
              </ng-container>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Delete">
            <ng-template ngx-datatable-cell-template>
              <button mat-raised-button color="accent">Delete</button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </ng-template>
    </ngx-datatable-row-detail>
  </ngx-datatable>
</div>

<br><br>
<div>
  <form [formGroup]="formGroup">
    <app-phone-number-mask formControlName="phoneNumber"></app-phone-number-mask>
    <br>

    <mat-form-field>
      <mat-label>Email:</mat-label>
      <input type="text" matInput formControlName="emailAddress">
      <mat-error *ngIf="emailFormControl.hasError('overTheLength')">
        Email address shouldn't have more than {{emailMaxLength}} characters;
      </mat-error>
    </mat-form-field>
  </form>
</div>
