<div>
  <button mat-raised-button color="accent" (click)="exportToExcel()">Export</button>
  <mat-form-field appearance="fill">
    <mat-label>Select Page:</mat-label>
    <input matInput type="number" min="1" [max]="rows?.length" [(ngModel)]="goToPage">
  </mat-form-field>
  <ngx-datatable class="material"
                 [rows]="rows"
                 [columns]="columns"
                 [headerHeight]="50"
                 [footerHeight]="50"
                 [offset]="(goToPage !== undefined) ? (goToPage -1) : 0"
                 [limit]="2"
                 columnMode="force"
                 selectionType="single"
                 (select)="onSelectProduct($event)"
                 rowHeight="auto"
                 #myTable>
    <!-- Row Detail Template -->
    <ngx-datatable-row-detail [rowHeight]="230" #myDetailRow>
      <ng-template let-row="row" ngx-datatable-row-detail-template>
        <ngx-datatable class="material"
                       [rows]="row.prices"
                       [columns]="internalColumns"
                       [headerHeight]="50"
                       [footerHeight]="50"
                       columnMode="force"
                       rowHeight="auto">
        </ngx-datatable>
      </ng-template>
    </ngx-datatable-row-detail>
  </ngx-datatable>
</div>
